body {
    background-color: rgb(238, 20, 20);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.oi {
    background-color: red;
}