/*Define cores da marca:*/
:root {
    --azul-1: #14A3FE;
    --azul-2: #012454;
    --verde: #07FFE1;
    --amarelo: #FAFF07;
    --rosa: #FB2AAB;
}

/*Insere background de exemplo:*/
body {
    background-color: rgb(0, 3, 30) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://media3.giphy.com/media/sWFYgYFjHGugleQdO7/giphy.gif?cid=ecf05e47153jnwqatv9sogs12ldfxmih8my2df6f346efh3s&rid=giphy.gif&ct=s);
}

/*Título da seção:*/
.theme-title {
    color: rgb(242, 242, 242) !important;
}

/*Card:*/
.card-body {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    background-image: url(https://media4.giphy.com/media/XWR4jehW2X2E0/giphy.gif?cid=ecf05e47k24qjs2hfde7wsonj4l1wn3j4266r8jwk3iueb1r&rid=giphy.gif&ct=s);
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: 5px solid var(--azul-1) !important;
    border-radius: 5px !important;
}

.card-body:hover {
    border: 5px solid var(--verde) !important;
    transition: 0.3s;
}

/*Conjunto de botões presentes em um card*/
.btn-card {
    opacity: 0;
    text-align: center;
    width: 100%;
}

.btn-card:hover {
    opacity: 1;
    transition: 0.2s;
}

/*Título da história no card*/
.title-btn {
    display: block !important;
    margin: 0% 10% 3rem 10% !important;
    background-color: var(--azul-2) !important;
    border-color: var(--azul-2) !important;
}

/*Botão de leitura*/
.write-btn {
    margin:0% 30% !important;
    background-color: var(--rosa) !important;
    border-color: var(--rosa) !important;
    opacity: 0.7;
}

.write-btn:hover {
    opacity: 1;
    background-color: var(--verde) !important;
    border-color: var(--verde) !important;
    color: var(--azul-2) !important;
    transition: 0.5s;
}