:root {
    --azul-1: #14A3FE;
    --azul-2: #012454;
    --azul-3: #001736;
    --verde: #07FFE1;
    --amarelo: #FAFF07;
    --rosa: #FB2AAB;
}

body {
    ;
}

.history_authory {
    margin-bottom: 2rem;
    color: rgb(118, 118, 118);
}

.history_text {
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.history_text p {
    margin-bottom: 1rem;
}

.back-btn:hover {
    background-color: var(--rosa) !important;
    border-color: var(--rosa) !important;
}

@media (max-width: 993px) {
    .history_body {
        display: grid !important;
        justify-content: center !important;
        align-items: center !important;
    }
    
    .history_gif {
        height: 80%;
        width: 80%;
    }

    .history_text {
        font-size: 1.5rem;
    }
}