:root {
    --azul-1: #14A3FE;
    --azul-2: #012454;
    --azul-3: #001736;
    --verde: #07FFE1;
    --amarelo: #FAFF07;
    --rosa: #FB2AAB;
}

body {
    background-image: url("../../assets/home_bg.gif");
}

.home_text {
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
}

.home-btn {
    background-color: var(--azul-1) !important;
    border-color: var(--azul-1) !important;
    letter-spacing: 2px;
    color: var(--azul-3) !important;
}

.home-btn:hover {
    background-color: var(--rosa) !important;
    border-color: var(--rosa) !important;
    transition: 0.3s;
    color: whitesmoke !important;
}

@media (max-width: 993px) {
    .home_body {
        display: grid !important;
        justify-content: center !important;
        align-items: center !important;
    }
    
    .home_gif {
        height: 80%;
        width: 80%;
    }

    .home_text {
        font-size: 1.5rem;
    }
}