.nav {
    background: #000000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}

.nav__logo img {
    margin: 0.2rem 1rem;
    transform: translateY(6px);
    width: 64px;
    height: 64px;
}
.nav__list {
    width: 100%;
    margin: 0;

}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav ul {
    list-style:none;
}

.nav__item a {
    color: #1C5BA9;
    transition: color 0.3s;
}

.nav__item a:hover {
    color: #B41DB8;
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
}