:root {
    --azul-1: #14A3FE;
    --azul-2: #012454;
    --azul-3: #001736;
    --verde: #07FFE1;
    --amarelo: #FAFF07;
    --rosa: #FB2AAB;
}

body {
    background-color: var(--azul-3) !important;
}

.title {
    color: whitesmoke;
}

.users-table {
    background-color: whitesmoke !important;
    border-radius: 8px;
}

.create-btn {
    display: flex;
    justify-content: end;
}