:root {
    --azul-1: #14A3FE;
    --azul-2: #012454;
    --azul-3: #001736;
    --verde: #07FFE1;
    --amarelo: #FAFF07;
    --rosa: #FB2AAB;
}

body {
    background-color: var(--azul-3) !important;
}

.top-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.title {
    color: whitesmoke;
    margin: 0;
    align-items: center !important;
    display: flex;
    justify-content: center;
}

.btn-search {
    background-color: white !important;
    color: grey !important;
}

.users-table {
    background-color: whitesmoke !important;
    border-radius: 8px;
    margin-top: 0.5rem 0px 1.5rem 0px;
}

.all-btn-table {
    display: flex;
    justify-content: end !important;
}

.btn-table {
    margin: 0px 2px 0px 2px !important;
}

.create-btn {
    display: flex;
    justify-content: end;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem !important;
}